<ion-view view-title="Main Stage">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="event in events" type="item-text-wrap" href="#/tab/events/{{event.id}}">
        <img ng-src="{{event.face}}">
        <h2>{{event.name}}</h2>
        <p>{{timeRangeToDisplayString(event.startTime, event.endTime)}}</p>
        <p>{{event.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(event)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
