# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Other platforms. ATM let's not customize these so that we don't need to worry about keeping them in check.
platforms

# Dependency directories
node_modules
jspm_packages

# Processed JS files
www/js

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history